@model Cart
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


<h2>Корзина</h2>

@if (Model.CartItems.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Изображение</th>
                <th>Товар</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems.Values)
            {
                <tr>
                    <td>
                        <img src="@item.Item.ImagePath" alt="@item.Item.Name" style="width: 100px; height: auto;" />
                    </td>
                    <td>@item.Item.Name</td>
                    <td>@item.Item.Price руб</td>
                    <td>@item.Count</td>
                    <td>
                        <form asp-controller="Cart" asp-action="Remove" method="post" style="display: inline;">
                            <input type="hidden" name="id" value="@item.Item.Id" />
                            <input type="hidden" name="returnUrl" value="@Url.Action("Index", "Cart")" />
                            <button type="submit" class="btn btn-link" title="Удалить">
                                <i class="bi bi-trash" style="font-size: 1.5rem; color: red;"></i>
                            </button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p><strong>Итого:</strong> @Model.TotalPrice руб</p>

    <form asp-controller="Cart" asp-action="Clear" method="post">
        <input type="hidden" name="returnUrl" value="@Url.Action("Index", "Cart")" />
        <button type="submit" class="btn btn-warning">Очистить корзину</button>
    </form>
}
else
{
    <p>Ваша корзина пуста.</p>
}
